*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    text-align: center;
}

#timer {
    margin-top: 260px;
    font-size: 200px;
    font-weight: bolder;
}

form {
    margin-top: 20px;
}